* {
    box-sizing: border-box;
}
body {
    font-family: Arial, sans-serif;
    background-color: #ffffff;
    display: flex;
    justify-content: center;
    align-items: center;
}
.container {
    background-color: #00ddff;
    padding: 20px;
    border-radius: 8px;
    box-shadow: 8px 8px 8px rgb(0, 0, 0);
    max-width: 400px;
    width: 100%;
}
.farhan{
    height: 20em;
    border-radius: 8px;
    box-shadow: 8px 8px 8px rgba(0, 0, 0, 0.1);
}
.farhan img {
    height: 20em;
    margin: 0em;
    border-radius: 8px;
    box-shadow: 5px 5px 5px black;
}
h2 {
    text-align: center;
    color: #000000;
}
label {
    display: block;
    margin-top: 10px;
    color: #000000;
}
input {
    width: 100%;
    padding: 8px;
    margin-top: 5px;
    margin-bottom: 15px;
    border: 1px solid #000000;
    box-shadow: 5px 5px 5px black;
    border-radius: 4px;
}
button {
    width: 100%;
    padding: 10px;
    background-color: #28a745;
    color: white;
    border: none;
    border-radius: 4px;
    cursor: pointer;
    font-size: 16px;
}
button:hover {
    background-color: #218838;
}
.result {
    margin-top: 20px;
    text-align: center;
    font-weight: bold;
    color: #333;
}
.result p {
    margin: 5px 0;
}